{% load staticfiles%}
<html>

<head>


<title>Log In</title>
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<style>
#login {
  position: fixed;
  
  z-index: 15;
  top: 30%;
  left: 45%;
  margin: -100px 0 0 -150px;
  background: rgba(32, 99, 56, 0.10);
  padding : 100px 100px 100px 100px; 
  
}
					body {
						background-color : rgba(37, 188, 168, 0.42);
				
				}
			.breadcrumb {
				
						background-color : black;
					}
</style>

</head>
     
     
<body>
<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active">Log In</li>
		</ol>
<header id="top" class="header">
<div id="login">
<div class="{{class}}">
  <strong>{{message}}</strong>
   </div>
<form action="" method="POST" style="display:inline-block">


    {%csrf_token%}
	
    {{form.as_p}}
	
    <button type="submit" class="btn btn-danger">Log In</button>
</header>
</form>
</div>
<script src = "{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src = "{% static 'js/bootstrap.min.js' %}"></script>

</body>


</html>
