{% load static %}

<html>
<head>

	<meta charset="UTF-8">
    <title>Buy Vegetables</title>
	<script src="{%static 'js/jquery-3.1.1.min.js' %}"></script>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/basic.css' %}" rel="stylesheet">

	
	
</head>

<body>
<!--- Breadcrumb Navigation Starts--->
		<ol class="breadcrumb">
		
		<li><a href="/local">Home</a></li>
		<li class="active">Buy Vegetables</li>
		</ol>
		<!--- Breadcrumb Navigation Ends --->


{% csrf_token %}
<center><label> Enter Aadhaar Number To Check </label>
<input type="text" id="Aadhaar" class="Aadhaar" name="Aadhaar"/>

<input type="button" class="btn btn-danger" id="btn" value="Check User">
</center>
<br><br><br><br><br>
<br><br><br><br><br>

<div id="buy">


</div>

<script type="text/javascript">

$(function(){
	$('#btn').click(function(){
	
		$.ajax({
            type: "POST",
            url: "/local/buy/",
            data: {
                'search_data' :  ($(this).prev()).val(),
                'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
            },
            success: function(data){
				
				
				
                $('#buy').html(data)
				
			},
            dataType: 'html'
	
	
	});
});

});


</script>

</body>

</html>
