{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{%static 'js/jquery-3.1.1.min.js' %}"></script>
	<link href="{% static 'css/basic.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/print.css' %}" type="text/css" media="print" />
</head>
<body>
<ol class="breadcrumb">
		
		<li><a href="/local">Home</a></li>
		<li><a href="buy">Buy Vegetables</a></li>
		<li class="active">Billing</li>
		</ol>
<h1>BILL</h1>

<h3>AADHAAR NUMBER : {{Aadhaar}}</h3>
<table class="table table-bordered">
<tr>
<th>ITEM</th>
<th>QUANTITY</th>
<th>RATE</th>
<th>AMOUNT</th>
</tr>
{%csrf_token%}

{% for Billinstance in Billinstances %}
<tr>
	<td>{{Billinstance.Item_id}}</td>
	<td>{{Billinstance.Quantity}}</td>
	<td>{{Billinstance.Rate}}</td>
	<td>{{Billinstance.Amount}}</td>
</tr>
{% endfor %}

</table>
<div id="total">
	<h3>Total : {{total}} Rs.</h3>
</div>
<center><b><i>******Thank You. Have A Nice Day******</i></b></center>
<form><input type="button" value=" Print this page "
onclick="window.print();" /></form>

<!---
<script type="text/javascript">
$(document).ready(function() {
	
    window.print();
});
</script>
--->
</body>
</html>
