
{% if users > 0 %}
    
		
       {% for user in users %}
			<form action="" method="post">
			{% csrf_token %}
			<div class="users panel panel-success col-md-8">
			
			<div class="panel-heading">
    <h3 class="panel-title"><a href="profile">{{user.F_Name}}</a></h3>
  </div>
			
				
				<div class="panel-body">
				<label>Aadhaar Number : </label>{{user.Aadhaar}}<br>
                <label>Item : </label>{{user.Item_id}}<br>
				<label>Applied Date : </label>{{user.Apply_Date}}<br>
				<input type="hidden" name="user" value="{{user.Aadhaar}},{{user.Item_id}}"></input>
				<label>Aadhaar Card : </label>
                <a href="{{user.AadhaarPic.url}}">
                <img border="0" alt="No Aadhaar" src="{{user.AadhaarPic.url}}" width="100" height="100"></a>
                <br>
                <label>Farm Document: </label>
                <a href="{{user.doc.url}}">
                <img border="0" alt="No documents" src="{{user.doc.url}}" width="100" height="100"></a><br>
				<button type="submit" class="btn btn-success">VERIFY</button>
				</div>
			</div>
			
			</form>
			
        {% endfor %}
{% endif %}


