{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{lname}}</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
</head>
<body>

<!--- Breadcrumb Navigation Starts--->
		<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active">{{lname}}</li>
		</ol>
		<!--- Breadcrumb Navigation Ends --->
		<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="verify">Verification</a></li>
  <li role="presentation"><a href="buy">Buy Vegetables</a></li>
  <li role="presentation"><a href="sell">Sell Vegetables</a></li>
  <li role="presentation"><a href="rates">Today's Rates</a></li>
  <li role="presentation"><a href="transport">Transport</a></li>
  <li role="presentation"><a href="/logout">Logout</a></li>
</ul>
Hello Local Zone..... {{lname}}
<br>

</body>
</html>
