{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{lname}}</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{%static 'js/jquery-3.1.1.min.js' %}"></script>
</head>
<body>
{% csrf_token %}
<!--- Breadcrumb Navigation Starts--->
		<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active">{{lname}}</li>
		</ol>
		<!--- Breadcrumb Navigation Ends --->
		
		
		

			
			
<div class="jumbotron">
  <h1>{{lname}}</h1>
  
</div>
		<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="verify">Verification</a></li>
  <li role="presentation"><a href="buy">Buy Vegetables</a></li>
  <li role="presentation"><a href="sell">Sell Vegetables</a></li>
  <li role="presentation"><a href="rates">Today's Rates</a></li>
  <li role="presentation"><a href="transportOut">Transport Out<span id="BadgeOut" class="badge">{{count}}</span></a></li>
  <li role="presentation"><a href="transportIn">Transport In<span id="BadgeIn" class="badge">{{InCount}}</span></a></li>
  <li role="presentation"><a href="pending">Receive Pending</a></li>
  <li role="presentation"><a href="/logout">Logout</a></li>
</ul>

<input type="hidden" id="localCenter"/>
<br>
<script type="text/javascript">
function refresh() {
    
    $.ajax({
            type: "POST",
            url: "/local/polling/",

            data: {
                
			
                'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()

               
            },
            
            success: function(data){
				
	            

                   
                   $('#BadgeOut').text(data[0])
				   $('#BadgeIn').text(data[1])

                    
			                       },
            dataType: 'html'
			
			
			
        });

    
    setTimeout(refresh, 15000);
   
}

setTimeout(refresh, 15000);



</script>
</body>
</html>
