{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payments</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<script src="{%static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{%static 'js/bootstrap.min.js' %}"></script>
<link href="{% static 'css/basic.css' %}" rel="stylesheet">
</head>
<body>
<ol class="breadcrumb">
		
		<li><a href="/district">Home</a></li>
		<li class="active">Payments</li>
		</ol>
<center><h3>List of Farmer Transactions</h3></center>

{% for farmer in farmers %}

			<form action="" method="post">
			
			<input name="aadhaar" value="{{farmer.Aadhaar}}" hidden>
			{%csrf_token%}
			<div class="panel panel-success col-md-7">
			
			<div class="panel-heading">
			<h3 class="panel-title">Aadhaar Number : {{farmer.Aadhaar}}</h3>
			</div>
			
				<div class="panel-body">
			
				<br><button type="submit" class="btn btn-success">VIEW DETAILS</button>
				</div>
			</div>
			</form>
{% endfor %}


</body>
</html>