{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agrocrop Admin</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
</head>
<body>


		<div class="jumbotron">
  <center><h1>Agrocrop Administration</h1></center>
  
</div>
		
		<div class="container-fluid">
		<div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="confirm">Confirm Farmers</a></li>
  <li role="presentation"><a href="transport">Transport</a></li>
  <li role="presentation"><a href="rates">Set Rates</a></li>
  <li role="presentation"><a href="addlocal">Add New Local Center</a></li>
  <li role="presentation"><a href="additem">Add New Item</a></li>
  <li role="presentation"><a href="/logout">Logout</a></li>
</ul>
</div></div></div>

<br>

</body>
</html>
