{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <title>Set Rates</title>


        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

        <script src="{%static 'js/jquery-3.1.1.min.js' %}"></script>
        
        <script src="{%static 'js/bootstrap.min.js' %}"></script>
		<link href="{% static 'css/basic.css' %}" rel="stylesheet">
		
		<style>
						#rateSetter{
						position : fixed;
						top : 50%;
						left : 30%;
						
						}
						
						#itemRatesDiv{
						
						position : fixed;
						top : 35%;
						left : 35%;
						
						}
		</style>
</head>
<body>
<ol class="breadcrumb">
		
		<li><a href="/state">Home</a></li>
		<li class="active">Set Rates</li>
		</ol>

        <div id="itemRatesDiv">
        <center><h3>Please Select The Item For Setting Rate</h3>

        {% csrf_token %}

			<select name="items" id="items">
			<option>Select Item</option>
			{% for item in items %}
           
                <option>{{item.Item_Name}}
                
            {% endfor %}
            </select>
</center>
</div>
            <div id="rateSetter">

            </div>

        
    
        <script type="text/javascript">

            $(function(){
	
	                    $("#items").change(function(){

                                
			
		                $.ajax({
                                type: "POST",
			
                                url: "/state/rates/",
		
                                data: {
                                        'search_text' : $(this).val(),
                                        'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val(),

                                      },
			
                        success: function(data){

                                        
				
                                        $('#rateSetter').html(data)
				
			                                    },
                                        dataType: 'html'


                                            });
	                                    });

                                    });
            


        </script>
    </body>

</html>



